<table class="table table-striped">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Empresa</th>
			<th>Categoría</th>
			<th>SubCategoría</th>
			<th>Marca</th>
			<th>Precio</th>
			<th>Stock</th>
			<th>Stock mínimo</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr class="<%= danger?(product['stock'].to_i, product['minimum_stock'].to_i) %>">
			<td><%= product['name'] rescue 'error' %></td>
			<td><%= product['description'] rescue 'error' %></td>
			<td><%= product['enterprise'] %></td>	
			<td><%= product['category'] rescue 'error' %></td>
			<td><%= product['sub_category'] rescue 'error' %></td>
			<td><%= product['brand'] rescue 'error' %></td>
			<td><%= product['price'] rescue 'error' %></td>
			<td><%= product['stock'] rescue 'error' %></td>
			<td><%= product['minimum_stock'] rescue 'error' %></td>
		</tr>
		<% end %>
	</tbody>
</table>
